body {
    font-family: "Courier New";
    background-color: cornsilk;
}

h1 {
    color: black;
    text-align: center;
    position: relative;
}

#t1, th, td{
    border: 1px solid black;
    align:center;
    background-color: white;
}

#t2, th, td {
    border: 1px solid black;
    background-color: white;
}
