body {
    background-color: burlywood;
    font-family: "Courier New";
}

h1 {
    color: black;
    text-align: center;
    position: relative;
}

#t1, th, td{
    border: 1px solid black;
    align:center;
}

#t2, th, td {
    border: 1px solid black;
    margin
}
